.first-page {
    background: url(../img/VismaLogo2.png), linear-gradient(75deg, rgba(10, 10, 10, 0) 40.6%, #fff 40.6%), url(../img/forside7.jpg);
    background-position: bottom right, center center, 150% center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 20%, contain, auto 100%;
}

.cover-page {
    background: url(../img/VismaLogo2.png), linear-gradient(75deg, rgba(10, 10, 10, 0) 40.6%, #fff 40.6%), url(../img/forside7.jpg);
    background-position: bottom right, center center, -50% center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 20%, contain, auto 100%;
}

.andersemil {
    background: url(../img/VismaLogo2.png), linear-gradient(75deg, rgba(10, 10, 10, 0) 40%, #fff 40%), url(../img/andersemil.jpg);
    background-position: bottom right, center center, 300% center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 20%, contain, auto 100%;
}

.leo {
    background: url(../img/VismaLogo2.png), linear-gradient(100deg, #fff 55%, rgba(10, 10, 10, 0) 55%), url(../img/thedonald.jpg);
    background-position: bottom left, center center, -2000% center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 20%, contain, auto 100%;
}

.values-page {
    background: url(../img/VismaLogo2.png), url(../img/values1.png);
    background-position: bottom right, 90% center;
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, auto 100%;
}